<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app id="WebApp_ID">
	<display-name>DeccanSportClub</display-name>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<display-name>AdminServlet</display-name>
		<description></description>
		<servlet-class>com.cybage.servlet.AdminServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AppServlet</servlet-name>
		<display-name>AppServlet</display-name>
		<description></description>
		<servlet-class>com.cybage.servlet.AppServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerServlet</servlet-name>
		<display-name>CustomerServlet</display-name>
		<description></description>
		<servlet-class>com.cybage.servlet.CustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManagerServlet</servlet-name>
		<display-name>ManagerServlet</display-name>
		<description></description>
		<servlet-class>com.cybage.servlet.ManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AppServlet</servlet-name>
		<url-pattern>/AppServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/CustomerServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManagerServlet</servlet-name>
		<url-pattern>/ManagerServlet/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SecuredBookSite</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Let only admin use this app</description>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SecuredBookSite</web-resource-name>
			<url-pattern>/member/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Let only member use this app</description>
			<role-name>member</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SecuredBookSite</web-resource-name>
			<url-pattern>/manager/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Let only managers use this app</description>
			<role-name>manager</role-name>
		</auth-constraint>
	</security-constraint>


	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/error.jsp</form-error-page>
		</form-login-config>
	</login-config>
</web-app>


